/*AQUI COMECA O STYLE DA PAGINA*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  p {
    text-align: justify;
    text-indent: 20px;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color:#181818;
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  header {
    
    justify-content: space-between;
  }

  .flex-item {
    flex: 1;
  }

  .row {
    flex-direction: row;
  }

  /* Flex Container */
.interface {
  background-image: linear-gradient(to right, #181818, #8e8eee,  #181818);  
  justify-content: space-between;
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	text-align: center;
}

 #logo{
   align-self: center;
   padding-left: 800px;
   padding-top: 5px;
  }
 
  .header {
    padding-top: 15px;
    padding-bottom: 30px;
    height: 180px;
     /*#dfdee4;*/
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #0F022D;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: none /*#04D361*/;
    color:  #1d3452;/*black*/
  }
  a:hover h3 {
    background-color: none;
    color: #1d3452; 
   }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f2f2f2;
    padding-left: 20px;
  }
  
.card-1 img{
  align-self: center;
  margin-bottom: 10px;
  border-radius: 3px;
  max-width: 450px;
}
  
.card-1 {
  margin-top: 30px;
  background-color: #211d46;
  flex-direction: column;
  padding: 30px 30px 30px 30px; 
  width: 1200px;
  letter-spacing:.1em;
  border-radius: 10px;
}

.card-1 a{
  margin-top: 10px;
  
}

.card-1 p{
  margin-top: 10px;
}

  .card-1 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#A42BA6;
  }

  .card-1 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#A42BA6;
  }

  .card-1 h6{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-2 img{
    align-self: center;
    margin-bottom: 10px;
    border-radius: 3px;
  }
    
  .card-2 {
    margin-top: 30px;
    background-color: #211d46;
    flex-direction: column;
    padding: 30px 30px 30px 30px; 
    width: 1200px;
    letter-spacing:.1em;
    border-radius: 10px;
  }
  
  .card-2 a{
    margin-top: 10px;
  }
  
  .card-2 p{
    margin-top: 10px;
  }
  
  .card-2 h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#A42BA6;
  }
  
  .card-2 h3{
    margin-top: 10px;
    margin-bottom: 10px;
    color:#A42BA6;
  }

  .card-2 h6{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card-3 img{
    align-self: center;
    margin-bottom: 10px;
    border-radius: 3px;
  }
      
  .card-3 {
    margin-top: 57px;
    background-color: #211d46;
    flex-direction: column;
    padding: 30px 30px 30px 30px; 
    width: 1200px;
    letter-spacing:.1em;
    border-radius: 10px;
  }
    
  main .card-3{
    left: 1090px;
    top: 240px;
    position: absolute;
    height: 920px;
    width: 500px;
    margin-left: 300px;
  }

  .card-3 a{
    margin-top: 10px;
  }
    
  .card-3 p{
    margin-top: 10px;
  }
    
    .card-3 h2{
      margin-top: 10px;
      margin-bottom: 10px;
      color:#A42BA6;
    }
    
    .card-3 h3{
      margin-top: 10px;
      margin-bottom: 10px;
      color:#A42BA6;
    }

    .card-3 h6{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .card-4 img{
      align-self: center;
      margin-bottom: 10px;
      border-radius: 3px;
      width: 370px;
    }
        
    .card-4 {
      margin-top: 5px;
      background-color: #211d46;
      flex-direction: column;
      padding: 30px 30px 30px 30px; 
      width: 1200px;
      letter-spacing:.1em;
      border-radius: 10px;
      
    }
      
    .card-4 a{
      margin-top: 10px;
      align-self: center;
    }
      
    .card-4 p{
      margin-top: 10px;
    }
      
    .card-4 h2{
      margin-top: 10px;
      margin-bottom: 10px;
      color:#A42BA6;
    }
      
    .card-4 h3{
      margin-top: 10px;
      margin-bottom: 10px;
      color:#A42BA6;
    }

    .card-4 h6{
      margin-top: 10px;
      margin-bottom: 10px;
    }

  p {
    color:#ecebeb;
    font-family: 'Roboto', sans-serif;
  }
  h2 {
    color:#0066ff;
  }
 
  h3{
    color: #0066ff;
  }
  h6{
    color:#ecebeb;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  #kindle{
    width: 400px;
    display: block;
    height: 190px;
  }
  #celular{
    width: 350px;
    display: block;
    height: 193px;
  }
  
  main {
   padding: 24px;
   border-radius: 10px;
  }

  #fatec{
    margin-bottom: 10px;
    border-radius: 3px;
    width: 370px;
    display: block;
    height: 220px;
  }

  p {

    text-align: justify;

    text-indent: 20px;

    color: #ffffff

}

#social{
  background-color: transparent; 
  display: flex;
  align-items: center;
}

#social a span{
  margin-left: 6px;
  display: none;
}

#social a:hover span{
  display: inline; 
}

#social img{
  width: 32px;
}

#social a{
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;

} 

footer{
  background: rgb(148, 148, 148);
  padding: 24px;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: linear-gradient(to right, #181818, #8e8eee,  #181818);
  margin-top: 70px;
}

footer a{
  color:#ffffff;
}

footer ul li{
  display: inline-block; 
  padding: 0 12px;
  border-right: 2px solid #ffffff;
}


footer ul li:last-child{
  border-right: none;
}

footer img{
  width: 130px;
  height: 40%;
}

@media screen and (max-width: 1020px) { /* Breakpoint (ponto de quebra) */
  main {
  width: 60%;
  }
  aside {
  width: 40%;
  }
  .kindle {
  flex-direction: column; /* Os filhos ficarão em coluna, na vertical */
  }
  .destaque img {
  width: 450px;
  margin-right: 0;
  margin-bottom: 24px;
  }
  .card-1 {
    margin-top: 30px;
    flex-direction: column;
    width: 700px;
  }
}
/* .card-2 {
  margin-top: 30px;
  flex-direction: column;
  width: 900px;
}
.card-4 {
  margin-top: 30px;
  flex-direction: column;
  width: 900px;
} */
  
  @media screen and (max-width: 800px) {
  #menu {
  min-height: 88px;
  }
  #menu ul {
  margin-top: 50px;
  margin-left: -18px;
  }
  #menu ul li { /* Menu vertical */
  display: block;
  margin: 0;
  padding: 12px 0;
  }
  #menu a {
      width: 100%;
  }
  #menu-contraido {
  margin-top: 24px;
  width: 100%;
  }
  #menu-contraido ul {
  display: none;
  }
   Mostra o botão do menu 
  #menu-contraido input, #menu-contraido span {
  display: block;
  }
  #menu-contraido input:checked ~ ul {
  display: block;
  }
  
   #content {
  flex-direction: column; /* Os filhos ficarão em coluna, na vertical */
  }
  .card-1 {
    margin-top: 30px;
    flex-direction: column;
    width: 600px;
  }
 .card-2 {
    margin-top: 30px;
    flex-direction: column;
    width: 600px;
  }
  .card-4 {
    margin-top: 30px;
    flex-direction: column;
    width: 600px;
  } 
  main {
  width: 100%;
  }
  aside {
  margin-left: 0;
  width: 100%;
  }
  aside > article > h1 {
  text-align: center;
  }
  .destaque img {
  /* Centralizar a imagem */
  margin-left: auto;
  margin-right: auto;
  }
  footer {
  flex-direction: column;
  }
  footer > * { /* Todos os filhos DIRETOS de footer */
  margin-bottom: 12px;
  }
  footer ul li:first-child { /* Só o primeiro (first-child) li */
  padding-left: 0;
  }
  footer address {
  text-align: right;
  }
  }
