/*AQUI COMECA O STYLE DA PAGINA*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

h1, h2, h3, h4, h5, h6, p, a, ul {
    font-size: 1em;
    font-weight: normal;
    }
  
body {
      background-image:url('img/fundo.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      font-family: 'Roboto', sans-serif;
      
    }
 
.center h1{
    color:#0066ff;
    letter-spacing:.1em;
    font-size: 2em;
    margin: 0.67em 0;
    margin-top: 70px;
    display: block;
  }

.flex-item {
    flex: 1;
  }

.row {
    flex-direction: row;
  }

  /* Flex Container */
.container {
   display: flex; 
}
/* Flex Item */
.item {
	/* O flex: 1; é necessário para que cada item se expanda ocupando o tamanho máximo do container. */
	flex: 1;
	margin: 5px;
	text-align: center;
}

#logo {
    align-self: center;
    padding-left: 550px;
  }
 
.header {
    background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(142, 142, 238),  rgb(24, 24, 24));
    padding-top: 25px;
    padding-bottom: 30px;
    height: 210px;
  }
  
.header h1 {
    font-size: 50px;
  }
  
.topnav {
    overflow: hidden;
    background-color:#0F022D;
  } 

.topnav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 16px 22px;
    text-decoration: none;
  }
  
.topnav a:hover {
    background-color: none;
    color: #1d3452;
  }
  
a:hover h3 {
    background-color: none;
    color: #1d3452; 
   }
  
.leftcolumn {   
    float: left;
    width: 75%;
  }
  
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f2f2f2;
    padding-left: 20px;
  }

  

   /* =====------==== */
   #content {
    background-color: #211d46;;
    padding: 20px;
    /* Este elemento e seus filhos usarão flexbox */
    display: flex;
    flex-direction: row; /* Os filhos ficarão em linha, na horizontal */
}

main, aside {
    background-color: #211d46;
    padding: 24px;
    margin-bottom: 20px;
    /* Bordas arrendondadas */
    border-radius: 10px;
    /* Sombra (drop-down shadow) */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    flex-grow: 1;   /* 1 unidade de largura (padrão) */
    max-width: 100%;
}

main {
    width: 75%;
}

aside {
    margin-left: 20px;
    background-color: #211d46;;
    width: 25%;
}

main article, aside article {   /* article que estão de dentro de main ou aside */
    margin: 24px 0;     /* 24px top/bottom, 0 left/right */
}

main > h1, aside > h1 {          /* Apenas os h1 que são filhos diretos de main ou aside */
    /* Deixar o texto em maiúsculas */
    text-transform: uppercase;
    color: #A42BA6;
}

article > h1 {    /* Só os h1 que são filhos diretos de article */
    margin-bottom: 6px;
}

article > h1 > a {
    font-size: 1.5rem;      /* 1.5x o tamanho da fonte do elemento raiz (html) */
}

article > p {
    color: #ffffff;
}

article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase; /* Todas as letras em maiúsculas */
}

.destaque {
    background-color: #211d46;
    padding: 24px;
    border-radius: 4px;  /* Bordas LEVEMENTE arredondadas */
}

.destaque p {
    color: #ffffff;
    font-size: 1.5rem;
}

.destaque > h1 > a {
    font-size: 2.5rem;
}

.destaque > h2 {
    font-size: 1rem;
}

.destaque img {
    width: 450px;
    margin-right: 24px;
    border-radius: 4px;
    /* Largura máxima limitada à largura do pai */
    max-width: 100%;
}
aside > article > img {
  display: block;
  /* margin auto à esquerda e à direita centraliza o elemento quando este é
     display: block */
  margin: 0 auto;
  border-radius: 4px; /* Borda arredondada */ 
  /* Largura máxima é 100% da largura do pai */
  max-width: 100%;
}

aside > article > h1 > a {
  font-size: 1rem;
  color: #000000;
}

aside > article > h1 {
  margin-top: 6px;
}

  /* =====------==== */

.card-2 img{
    align-self: center;
    margin-bottom: 10px;
    border-radius: 3px;
  }
    
.card-2 {
    margin-left: 10px;
    margin-top: 30px;
    background-color: #211d46;
    flex-direction: column;
    padding: 30px 30px 30px 30px; 
    width: 800px;
    letter-spacing:.1em;
    border-radius: 10px;
  }
  
.card-2 a {
    margin-top: 10px;
  }
  
.card-2 p {
    margin-top: 10px;
  }
  
.card-2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
.card-2 h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

   /* =====------==== */




     /* =====------==== */

.card-4 img {
      align-self: center;
      margin-bottom: 10px;
      border-radius: 3px;
      width: 370px;
    }
        
.card-4 {
      margin-left:10px;
      margin-top: 30px;
      background-color: #211d46;
      flex-direction: column;
      padding: 30px 30px 30px 30px; 
      width: 800px;
      letter-spacing:.1em;
      border-radius: 10px;
    }
      
.card-4 a {
      margin-top: 10px;
      align-self: center;
    }
      
.card-4 p {
      margin-top: 10px;
    }
      
.card-4 h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
      
.card-4 h5 {
      margin-top: 10px;
      margin-bottom: 10px;
    }

     /* =====------==== */

    
p {
      text-align: justify;
      text-indent: 20px;
      color: #ffffff
  }
  
  #social{
    background-color: transparent; /*TIRA A COR DE FUNDO*/
    display: flex;
    align-items: center;
}

#social a span {
    margin-left: 6px;
    display: none;
}

#social a:hover span {
    display: inline; /*MOSTRAR NOVAMENTE O TEXTO AO PASSAR O MOUSE*/
}

#social img {
    width: 32px;
}

#social a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
} 

 footer {
   background-image: linear-gradient(to right, #181818, #8e8eee,  #181818);
   padding: 24px;
   color: #ffffff;
   display: flex;
   flex-direction: row;
    /*Dá espaço automaticamente entre os itens de um flebox*/
    justify-content: space-around;
    margin-top: 50px;
}

footer a {
    color: #ffffff;
}

footer ul li {
    display: inline-block; /*Colocar itend de uma lista na horizontal*/
    padding: 0 12px;
    border-right: 2px solid #ffffff;
}

/*Tirar borda direita do ultimo li*/

footer ul li:last-child{
    border-right: none;
}

footer img {
    width: 130px;
    height: 100%;
}
 
h2 {
    color: #A42BA6;
  }
 
h3 {
    color: #A42BA6;
  }
  
h6 {
    color:#EE86F0;
  }
p {
  color: #EE86F0;
}
  
#kindle {
    width: 400px;
    display: block;
    height: 190px;
  }
  
#celular {
    width: 350px;
    display: block;
    height: 193px;
  }
  
#fatec {
    margin-bottom: 10px;
    border-radius: 3px;
    width: 370px;
    display: block;
    height: 220px;
  }
  @media screen and (max-width: 1348px) {  /* Breakpoint (ponto de quebra) */
   .card-1 img {
      align-self: center;
    }
      
    .card-1 {
      margin-left: 50px;
      
      padding: 30px 30px 30px 30px; 
      width: 600px;
      border-radius: 10px;
    }

    .card-2 img {
      align-self: center;
    }
      
    .card-2 {
      margin-left: 50px;
      flex-direction: column;
      padding: 30px 30px 30px 30px; 
      width: 600px;
      border-radius: 10px;
    }

    main .card-3 {
      height: 890px;
      width: 400px;
    }

    #logo {
      align-self: baseline;
      
    } 
    
}

@media screen and (max-width: 840px) {
    /* Colocar o menu em um botão */
     .header {
        flex-direction: column; /* Os filhos ficarão em coluna, na vertical */
    }
    main {
        width: 50%;
    }
    aside {
        margin-left: 0;
        width: 100%;
    }
    aside > article > h1{
        text-align: center;
    }
    #logo {
      align-self: center;
  
    }
    .card-1 img {
      align-self: center;
      margin-bottom: 10px;
      border-radius: 3px;
    }
    footer{
        flex-direction: column;
    }
    footer > *{  /* Todos filhos DIRETOS de footer */
        margin-bottom: 12px;
    }
    footer ul li:first-child{ /* Só o primeiro (first-child) li*/
        padding-left: 0;

    }
    footer address{
        text-align: right;
    }
}
@media screen and (max-width: 640px){
    /* Colocar o logo principal e os ícones de redes sociais em coluna */
}
  