/* @import, quando existem, devem ser o primeiro item de um arquivo CSS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* CSS reset*/
:root{
    --cor-primaria: #550000;
    --cor-secundaria: #FF7F2A;
    --cor-texto-claro: #dddddd;
    --cor-texto-escura: #777777;
    --cor-fundo-clara:  #ffffff;
    --cor-fundo-escura: #bbbbbb;
    --cor-secundaria-clara: #ffaf7b;
}
* { /*Todos os elementos */
    padding: 0;
    margin: 0;
    /*Exemplo de familia de fonte sem serifa 
    font-family: Calibri, Arial, sans;*/

    /*Exemplo de familia de fonte com serifa
    font-family: Georgia, 'Times new Roman', serif;*/

    /*Exemplo de familia de fonte MONOESPAÇADA
    font-family: Consolas, 'Courier New', monospace;*/
    font-family: Releway, Calibri,
    Arial, sans;
    font-size: 16px;

}

html{ /*Tamanho de fonte padrão do documento*/
    font-size: 16px;

}

a{
    color: var(--cor-primaria);
    text-decoration: none;
}
a:hover {
    color: var(--cor-secundaria);
    text-decoration: underline;
}

header {
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}
nav {
    background-color:var(--cor-secundaria); /*cor do fundo*/
    color: var(--cor-texto-claro); /*Cor do texto*/
}
#content{
    background-color: var(--cor-fundo-clara);
    padding: 20px;
    /*Este elemento e seus filhos usarão flexbox*/
    display: flex;
    flex-direction: row;/* Os filhos ficarão em linha*/
}
section{
    background-color: var(--cor-texto-claro);
    padding: 24px;
    margin-bottom: 20px;
    /* Bordas arredondadas */
    border-radius: 10px;
    /*Sombra (drop-dwn shandow*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
    flex-grow: 1;
}
#principal{
   /* flex-grow: 3;  Unidades de largura*/
   width: 75%;
}
#secundario{
    margin-left: 20px;
    background-color: var(--cor-fundo-escura);
    width: 25%;
}
section article{/* article que estão dentro de uma section*/
    margin: 24px 0;  /* 8px top/bottom, 0 left/right*/

}
section > h1{        /*Apenas os h1 que são filhos diretos de section*/
    /*Deixar o texto em maiúculas*/
    text-transform: uppercase;
    color: var(--cor-secundaria);
}
article > h1 >{  /*Só os h1 são filhos diretos de article*/
        margin-bottom: 6px;
}
article > h1 > a {  /*Só os h1 são filhos diretos de article*/
    font-size: 1.5rem;   /*1.5x o tamanho da fonte do elemento raiz(HTML)*/
}
article > p{
    color: var(--cor-texto-escura);
}
article > h2 {
    font-size: 0.8rem;
    text-transform: uppercase;/*Todas as letras em maiúsculas*/
}
.destaque{
    background-color: var(--cor-secundaria-clara);
    padding: 12px;
    border-radius: 4px; /*Bordas LEVEMENTE a rredondas */
    
}
.destaque p {
    color: #000;
    font-size: 1.5rem;
    
}
.destaque > h1 > a{
    font-size: 2.5rem;
}
.destaque > h2 {
    font-size: 1rem;
}
.destaque > img {
    width: 400px;
}.foto-texto{
    display: flex;
    flex-direction: row;/*Os filhos ficarão em linha*/
}
#secundario > article > img {
    display: block;
    /*margin auto à esquerda e à direita centraliza o elemento quando este é display: block */
   margin: 0 auto; 
}
#secundario > aside > h1 > a {
    font-size: 1rem;
    color: #000;

}

